.about{
    text-align: center;
}
.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}
.about__parrafo{
    line-height: 1.7;
}
.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}
.about__imgs{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 250px;
    overflow: hidden;
    margin: 0 auto 20px auto;
}
.about__img{
    width: 50%;
}