.mapa{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin: auto auto;
    }
.contacto__title-mapa{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
}